@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: AmericanCaptain;
  src: url("../public/fonts/American\ Captain.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Inter, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  background: url("../public/background.png");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: AmericanCaptain;
}

@layer components {
  .btn {
    @apply px-4 py-3 cursor-pointer text-white flex items-center justify-center bg-gradient-to-br from-bb-light to-bb font-bold max-w-max max-h-min shadow-lg;
  }

  .btns {
    @apply px-4 py-3 cursor-pointer text-white flex items-center justify-center border-white border-solid border-2 font-bold max-w-max max-h-min shadow-lg;
  }

  .btnt {
    @apply px-4 py-3 cursor-pointer text-bb flex items-center justify-center bg-white font-bold max-w-max max-h-min shadow-lg;
  }

  .bgradient {
    @apply bg-gradient-to-br from-bb-light to-bb;
  }
}

:root {
  --swiper-theme-color: #ffffff !important;
  --swiper-pagination-bullet-inactive-color: #fff !important;
}

.swiper-button-prev {
  left: 5% !important;
}

.swiper-button-next {
  right: 5% !important;
}

.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.5;
}

.projects-grid-item:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
  aspect-ratio: 1/1;
}

.projects-grid-item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 4;
}

.projects-grid-item:nth-child(3) {
  grid-area: 1 / 4 / 3 / 5;
}

.projects-grid-item:nth-child(4) {
  grid-area: 2 / 1 / 3 / 3;
  aspect-ratio: 2/1;
}

.projects-grid-item:nth-child(5) {
  grid-area: 2 / 3 / 3 / 4;
}

.projects-grid-item:nth-child(6) {
  grid-area: 3 / 1 / 4 / 2;
  aspect-ratio: 1/1;
}

.projects-grid-item:nth-child(7) {
  grid-area: 3 / 2 / 4 / 3;
}

.projects-grid-item:nth-child(8) {
  grid-area: 3 / 3 / 4 / 5;
}

@media (max-width: 1536px) {
  .projects-grid-item {
    grid-area: unset !important;
    aspect-ratio: 1/1 !important;
  }
}

@media (min-width: 980px) {
  .shape {
    position: relative;
    z-index: 5;
    margin-bottom: 20px;
  }

  .tri-l::before {
    content: url("../public/headings/triangle-light.svg");
    position: absolute;
    z-index: -1;
    top: -12px;
    left: -15px;
  }

  .tri-d::before {
    content: url("../public/headings/triangle-dark.svg");
    position: absolute;
    z-index: -1;
    top: -12px;
    left: -15px;
  }

  .rect-f-l::after {
    content: url("../public/headings/rect-filled.svg");
    position: absolute;
    z-index: -1;
    top: -10px;
    margin-left: -90px;
  }

  .rect-f-d::after {
    content: url("../public/headings/rect-filled-dark.svg");
    position: absolute;
    z-index: -1;
    top: -10px;
    margin-left: -90px;
  }

  .rect-o-l::after {
    content: url("../public/headings/rect-outline.svg");
    position: absolute;
    z-index: -1;
    top: -10px;
    margin-left: -90px;
  }

  .rect-o-d::after {
    content: url("../public/headings/rect-outline-dark.svg");
    position: absolute;
    z-index: -1;
    top: -10px;
    margin-left: -90px;
  }

  .rect-l {
    display: flex;
    flex-direction: column;
  }

  .rect-l::after {
    content: url("../public/headings/long-rect.svg");
    position: relative;
    z-index: -1;
    bottom: 40px;
  }
}

.headerlinks p {
  cursor: pointer;
}

.headerdropdown {
  transform-origin: top;
  animation: 0.5s dropdownAni forwards cubic-bezier(0, 0.8, 0.25, 1);
}

@keyframes dropdownAni {
  0% {
    transform: scaleY(0%);
  }
  100% {
    transform: scaleY(100%);
  }
}

.videoEmbed {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.videoEmbed iframe {
  width: 100%;
  height: 100%;
}
